*{
    margin:0;
    box-sizing:border-box;
    padding:0;
    Font-family:sans-serif;
}


body {
    width: 100%;
    display: grid;
    grid-template-rows: 80px auto auto;
}



nav {
    background: linear-gradient(to bottom, lightskyblue, dodgerblue);
    border-bottom: solid 1px black;
}

header nav{
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    height: 80px;
}

/*
header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
*/

nav img{
    height: 70px;
    width: 70px;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 19px;
    line-height: 80px;
    height: 80px;
}
nav a:first-child {
    text-align: left;
    padding: 5px 0 5px 15px ;
}

nav a:hover {
    text-decoration: underline;
}

nav #hamburger{
    text-decoration: none;
    width: 100px;
    display: none;
}
nav label {
    display: none;
    width: auto;
}
nav label img{
    vertical-align: center;
    margin: 5px 15px 5px 0;
}

nav #appear {
    display: none;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, lightskyblue, dodgerblue);
}

nav #appear a{
    text-align: center;

}

nav #tom {
    display: none;
}
.active {
    text-decoration: underline;
}



main {
    display: flex;
}

.right, .left {
    flex-shrink: 1;
    flex-grow: 1;
    background-color: #ededed;
}

.content {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
    border: solid 1px black;
    border-bottom: none;
    border-top: none;
}
.content a:hover{
    color: black;
}





.piler {
    height: 17px;
    width: 81px;
    margin-left: 10px;
    margin-right: 10px;
}
.navigasjoncontainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}
.navigasjon {
    display: inline-block;
    height: 60px;
    padding: 20px;
    line-height: 60px;


}
.navigasjon a{
    color: black;
    text-align: center;
    font-size: 24px;
    margin: 30px;
    text-decoration: none;

}
.navigasjon a:hover {
    text-decoration: underline;
}
.mellomrom {
    width: 30px;
}
.start {
    text-align: left;
}
.slutt {
    text-align: right;
}
.alene {
    display: block;
}


footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(to top, lightskyblue, dodgerblue);
}




@media (max-width: 800px){
    header nav{
        grid-template-columns: auto 1fr auto;
        grid-auto-rows: 80px;
    }
    header nav #tom {
        display: inline-block;
    }
    header nav button{
        display: inline-block;
    }
    #hamburger:checked ~ #appear{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 80px;
        position: absolute;
        left: 0;
        top: 80px;
    }
    #hamburger:checked ~ #appear a:last-child{
        border-bottom: 1px solid black;
    }
    #hamburger:checked + label img{
        transform: rotate(90deg);
    }
    .link {
        display: none;
    }
    header nav label {
        display: block;
    }
    .left, .right {
        display: none;
    }
    .content {
        flex-grow: 1;
        flex-shrink: 1;
        border-left: none;
        border-right: none;
    }
    .start{
        display: none;
    }
    h3 {
        font-size: 18px;
    }
    .slutt{
        text-align: center;
        padding: 0;
    }
    .slutt a{
        margin: 0;
    }

}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    border-top: 1px solid black;
}
footer article a{
    color: black;
}
footer .span2 {
    grid-column: span 1;
}



.span1 {
    grid-column: span 1;
}
.span2 {
    grid-column: span 2;
}

