.content .tekstbilde{
    width: 100%;
}
.content h1, .content h2{
    text-align: center;
    margin: 20px;
}

#norge {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content p {
    margin: 20px;
    font-size: 20px;
}
#toppbilde {
    width: 100%;
    border-bottom: 1px solid black;
}