#innhold {
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.content .tekstbilde{
    width: 100%;
}
.content h1, .content h2{
    text-align: center;
    margin: 20px;
}

.content p {
    padding: 30px 30px 0 30px;
    margin: 30px 20px 20px 20px;
    font-size: 20px;
}
#first {
    margin: 0 20px 20px 20px;
    padding: 0 30px 0 30px;

}
.lover {
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    width: 100%;
}

.topbilde {
    width: 100%;
    border-bottom: 1px solid black;
}

@media (max-width: 600px){
    .tekstbilde{
        display: none;
    }
    .span1 {
        grid-column: span 2;
    }
}