#innhold {
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.content .tekstbilde{
    width: 100%;
}
.content h1, .content h2{
    text-align: center;
    margin: 20px;
}

.content p {
    margin: 20px;
    font-size: 20px;
}

.topbilde {
    width: 100%;
    border-bottom: 1px solid black;
}