#innhold{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 30px 30px 0 30px;
}

.content h1, .content h2{
    text-align: center;
    margin: 20px;
}


.topbilde {
    width: 100%;
    border-bottom: 1px solid black;
}
.icon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: none;
}
.content p {
    font-size: 20px;
}

@media (max-width: 800px) {
    .span1 {
        grid-column: span 2;
    }
    .icon {
        margin: 20px auto 20px auto;
    }

}