.content{
    width: 100%;
}
.content h1, .content h2{
    text-align: center;
    margin: 20px;
}

.content p {
    margin: 20px;
    font-size: 20px;
}
#toppbilde {
    border-bottom: 1px solid black;
}

.content img {
    width: 100%;
}